*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body{
    width: 100%;
    height: 100%;
    background-color: #451952;

    /* df, jcc e aic */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 90%;
    height: 80%;
    background-color: #522B5B;

    border-radius: 10px;
    box-shadow: 0 0 10px #FBE4D8;

    display: flex;

    overflow: hidden;
    padding: 20px;
}

.img, 
.login {
    width: 50%;
    height: 100%;
}

.img{
    background-image: url("../image/85cff7696dbc74ad7da1549e4987d8c8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.login{
    padding-left: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login h1{
    color: #fff;
    margin-bottom: 15px;
}
.login p{
    color: #bebebb;
}

form{
    margin-top: 30px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

form input{ 
    padding: 10px 20px;
    background-color: #E1CBD7;
    outline: none;
    border: none;
    color: #000;
}

form input::placeholder{
    color: #000;
}


form #nome,
form #sobrenome {
    width: calc(50% - 10px);
    border-radius: 5px;
}

form #email{
    width: 100%;
    border-radius: 5px;
}

form #password{
    width: calc(50% - 10px);
    border-radius: 5px;
}

form #idade{
    width: calc(50% - 10px);
    border-radius: 5px;
}

form #telefone{
    width: calc(50% - 10px);
    border-radius: 5px;
}

#feminino,
#masculino{
display: flex;
border-radius: 5px;
}

.button{
    width: 100%;
    color: #000;
    background-color: #E1CBD7;
    padding: 15px 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    justify-content: center;

}

.containerRegister  {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    margin-top: 20px;
}

.containerRegister hr {
    width: 35%;
    height: 1px;
}

.containerButtons{
    width: 100%;

    margin-top: 20px;

    display: flex;
    gap: 20px;
}

.register{
    width: calc(50% - 10px);
    padding: 15px 40px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}